.wrapper {
    padding: 140px 0;
    
    .services {
        margin: auto;
        max-width: 1275px;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        .img-wrapper {
            width: calc((100%/12)*5);
            height: 460px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }


            @include sm {
                width: 100%;
                height: 360px;
            }

            @include xs {
                height: 260px;
            }
        }

        .content {
            padding-left: 30px;
            width: calc((100%/12 *7) - 30px);

            h2{
                @include xs{
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: 20px;
                margin-bottom: 20px;

                @include xs{
                    font-size: 18px!important;
                }
            }

            @include md {
                padding-left: 33px;
            }

            @include sm {
                position: relative;
                margin-top: 140px;
                margin-bottom: 140px;
                padding: 0 39px;
                width: 100%;
            }

            @include xs {
                margin-top: 100px;
                margin-bottom: 100px;
                padding: 0 30px;
            }
        }

        @include lg {
            max-width: 1275px;
            margin-left: 0;
        }

        @include md {
            margin-right: 0;
            width: 100%;
        }

        @include sm {
            flex-direction: column-reverse;
        }


    }

    @include md {
        padding-right: 47px;
    }

    @include sm {
        padding: 0;
    }
}