.contact-form {
    max-width: 760px;

    .section-heading {
        margin-bottom: 60px;

        @include xs {
            margin-bottom: 40px;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;

        .form-group {
            width: calc(50% - 15px);

            &:nth-child(2n + 1) {
                margin-right: 30px;
            }
            

            input {
                width: 100%;
            }

            @include xs {
                width: 100%;

                &:nth-child(odd) {
                    margin-right: 0;
                }

                &:nth-child(even) {
                    margin-left: 0;
                }

            }

        }

        .textarea {
            margin-right: 0;
            width: 730px;

            p {
                font-size: 14px;
                padding-bottom: 8px;
                color: #4f4c4d;
            }

            textarea {
                height: 160px;
                width: 100%;
                padding: 10px 16px;
                font-size: 16px;
                line-height: 1.75;
                letter-spacing: normal;
                color: #4f4c4d;
                border: solid 1px #d1d1d1;
                outline: none;

                ::placeholder {
                    color: #98a0ac;
                }

            }
        }

        .button {
            margin-top: 30px;
        }

    }

    .contact-details {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;

        .address {
            width: 445px;
            margin-bottom: 60px;

            .title-2 {
                display: block;
                margin-bottom: 10px;
            }

            p {
                &:last-child {
                    margin-top: 30px;
                }
            }
        }

        .social-links {
            margin-top: 10px;
        }

        @include sm {
            margin-top: 60px;
        }

    }
}

