.brand-icons {

    .brand-icons-group {
        display: flex;

        &:first-child {
            margin-bottom: 20px;
        }
    }

    .img-wrapper {
        height: 80px;
        width: 80px;
        margin-right: 34px;
        @extend %center-all;

        img {
            max-height: 100%;
            max-width: 100%;
        }

        &:nth-child(10n) {
            margin-right: 0;
        }

    }


    @include md {

        .img-wrapper {
            height: 80px;
            width: 80px;
            margin-right: 14px;
        }

    }


    @include sm {

        .img-wrapper {
            height: 60px;
            width: 60px;
            margin-right: 10px;
        }
    }

    @include ss {

        .brand-icons-group {
            display: flex;
            flex-wrap: wrap;

            &:first-child {
                margin-bottom: 0;
            }

            .img-wrapper {
                width: calc((100% / 5) - 10px);
                margin-bottom: 20px;

                &:nth-child(5n) {
                    margin-right: 0;
                }
            }
        }

    }

    @include xs{
        .brand-icons-group{
            
            &:nth-child(2) {
                flex-wrap: wrap-reverse;
                justify-content: flex-end;
                margin-top: -80px;

                .img-wrapper {

                    $num: 12;
                    $x: 1;

                    @while $num>0 {
                        &:nth-child(#{$x}) {
                            order: #{$num};
                        }

                        $num: $num - 1;
                        $x: $x+1;
                    }

                    &:nth-last-child(-n+4) {
                        margin-bottom: 0;
                    }
                }

            }

            .img-wrapper{
                width: calc((100% / 4));
                margin-right: 0;
                
            }
        }
    }



}