.testimonials-container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    user-select: none;

    .testimonial-inner {
        display: flex;
    }

    @include sm {
        overflow: hidden;
        height: 397px;

        .testimonial-inner {
            width: 100%;
            padding: 40px 30px;
            padding-top: 0;
            overflow-y: hidden;
            overflow-x: scroll;
            // scroll-snap-type: x mandatory;
        }
    }

    @include ss {
        height: 480px;
    }
}


.testimonial-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    padding: 30px 20px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.06);
    background-color: getColor(Light);

    .quote-group {
        .quote {
            height: 26px;
            width: 33px;
            margin: 0 auto;
            margin-bottom: 20px;
            display: block;
        }

        .desc {
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: -0.3px;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .client-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .client-photo {
            height: 70px;
            width: 70px;
            border-radius: 999px;
            overflow: hidden;
            margin-bottom: 20px;

            img {
                max-height: 100%;
                width: auto;
                object-fit: cover;
                object-position: center center;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: normal;
            text-align: center;
            color: getColor(Gray);
            height: 36px;
        }
    }

    &:not(:last-child) {
        margin-right: 30px;
    }

    @include md {
        width: 290px;
    }

    @include sm {
        position: relative;
        width: 100%;
        max-width: 450px;
        flex-shrink: 0;
        // scroll-snap-align: center;

        &:last-child {

            &::after {
                position: absolute;
                top: 0px;
                right: -30px;
                width: 30px;
                height: 1px;
                content: ' ';
            }
        }

    }

    @include ss {
        max-width: 285px;

        &:not(:last-child) {
            margin-right: 15px;
        }

    }

}

// .testimonials {
//     width: 100%;
//     max-width: 1110px;
//     margin: 0 auto;


//     .slider-testi {
//         display: flex;
//         // height: auto;

//         .slide {
//             position: relative;
//             // height: 100%;
//             max-width: calc(33.33% - 20px);
//             list-style: none;
//             box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.06);
//             background-color: getColor(Light);
//             padding: 30px 20px;
//             text-align: center;
//             padding-bottom: 0;

//             &:not(:last-child) {
//                 margin-right: 30px;
//             }

//             .quote {
//                 margin-bottom: 20px;
//             }

//             .desc {
//                 padding-bottom: 20px;
//                 margin-bottom: 175px;
//             }

//             .clients-details {
//                 position: absolute;
//                 bottom: 20px;
//                 left: 0;
//                 right: 0;
//                 margin: 0 20px;

//                 img {
//                     width: 70px;
//                     height: 70px;
//                     border-radius: 50px;
//                     object-fit: cover;
//                     margin: 0 0 20px 0;
//                 }

//                 p {
//                     color: #797c86;
//                     font-size: 14px;
//                     line-height: 1.29;
//                     letter-spacing: normal;
//                     min-height: 36px;
//                 }

//             }

//             @include md {
//                 height: auto;
//                 width: calc(33.33% - 20px);
//             }

//             @include sm {
//                 min-width: 450px;
//                 height: auto;
//             }

//             @include xs {
//                 min-width: 285px;

//                 &:not(:last-child) {
//                     margin-right: 15px;
//                 }
//             }

//         }
//     }

//     @include sm {
//         max-width: 768px;

//     }

// }