.widget-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #medium-widget {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-bottom: 40px;

        .medium-widget {
            position: relative;
            width: 100%;
            height: 100%;

            .medium-widget-article__row{
                width: 100%;
                margin: 0;

                .medium-widget-article__item{
                    width: 100%;
                }

                @include sm{
                    display: block;
                }
            }
        }
    }

   

}