/* 
    Set wrapper properties:
    e.g. .wrapper, .main-wrapper
*/

.global-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;

    @include md {
        padding: 0 47px;
    }

    @include sm {
        padding: 0 39px;
    }

    @include xs {
        padding: 0 30px;
    }


    &.--section-padding {
        padding-top: 120px;
        padding-bottom: 120px;

        @include xs {
            padding-top: 80px;
            padding-bottom: 80px;
        }

    }
}