@font-face {
    font-family: 'ProximaNova';
    src: url('../../assets/fonts/proxima-regular/b38b8bd9-d96f-4bf9-add1-adbd2b08b802.woff2') format('woff2'),
        url('../../assets/fonts/proxima-regular/52ed7b2d-8a31-4b18-a1d5-8685608b0889.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../../assets/fonts/proxima-semibold/3e324849-d359-4b66-9b56-bad57426a869.woff2') format('woff2'),
        url('../../assets/fonts/proxima-semibold/584a9e8f-ec09-4b98-bb1a-7cc22b43da7b.woff') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../../assets/fonts/proxima-bold/cc85d073-4dcf-4ecd-9804-40c34e631e2b.woff2') format('woff2'),
        url('../../assets/fonts/proxima-bold/332136cf-33d0-43fb-97ee-49c7742489ff.woff') format('woff');
    font-weight: 700;
}