.home {
	& --latest-post {
		padding: 100px 0;
	}

	article {
		border-bottom: 1px dashed #394149;
		margin-bottom: 50px;
		padding-bottom: 50px;
	}
}

.active-sidebar {
	display: flex;

	.post-wrapper {
		flex-shrink: 1;
		width: calc(100% - 280px);
		padding-right: 40px;
	}
	.sidebar {
		width: 280px;
		flex-shrink: 0;
	}
}
