/* 
    Set default global styles for button elements:
    <button></button>, input[type="submit"], btn btn-submit
*/

%button-default {
	cursor: pointer;

	&:disabled,
	&.disabled {
		pointer-events: none;
	}
}

.button,
button {
	@extend %button-default;
	padding: 16px 24px;
	border-radius: 4px;
	transition-duration: 100ms;
	background-color: transparent;
	outline: none;
	text-decoration: none;

	&.outline {
		border: 1px solid transparent;

		&.gray {
			color: getColor(Gray);
			border-color: getColor(Gray);

			&:hover {
				background-color: getColor(Gray);
				color: getColor(White);
			}
		}
	}
}
