/* 
    Set default global styles for button elements:
    <button></button>, input[type="submit"], btn btn-submit
*/

.button {
    margin: 0;
    background-color: getColor(Sky);
    height: 48px;
    width: auto;
    padding: 14px 20px;
    text-align: center;
    color: getColor(Light);
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    outline: none;
    cursor: pointer !important;
    border: none;
    display: inline-block;

    &:hover,
    &:focus {
        background-color: getColor(Sky-dark);
    }

    &:disabled,
    &.disabled {
        background-color: getColor(Sky-med);
        cursor: default;
        pointer-events: all !important;
    }

    &.outline,
    &.--prev,
    &.--next {
        background-color: getColor(Light);
        color: getColor(Stone);


        -webkit-box-shadow: inset 0px 0px 0px 1px getColor(Stone);
        -moz-box-shadow: inset 0px 0px 0px 1px getColor(Stone);
        box-shadow: inset 0px 0px 0px 1px getColor(Stone);

        &:disabled,
        &.disabled {
            color: getColor(Silver);
            -webkit-box-shadow: inset 0px 0px 0px 1px getColor(Silver);
            -moz-box-shadow: inset 0px 0px 0px 1px getColor(Silver);
            box-shadow: inset 0px 0px 0px 1px getColor(Silver);

            svg {
                fill: #afb0b6;
            }

            &:hover,
            &:focus {
                background-color: transparent;
            }

        }

        &:hover,
        &:focus {
            background-color: getColor(Ashen);
        }

    }

    &.--next,
    &.--prev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        padding: 0;
        object-fit: contain;
        cursor: pointer;

        svg {
            fill: #494A50;
        }

        &:not(:last-child) {
            margin-right: 20px;

            @include ss {
                margin-right: 10px;
            }
        }
    }

    &.success {
        position: absolute;
        bottom: 0;
        background-color: #20bf55;
        padding: 14px 24px;
        display: none;

        img {
            height: 14px;
            width: 18px;
            margin-right: 10px;
            object-fit: cover;
        }
    }

}


.social-links {
    display: flex;

    .icon {
        display: flex;
        height: 40px;
        width: 40px;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: getColor(Sky);


        &:not(:last-child) {
            margin-right: 20px;
        }

        img {
            height: 20px;
            width: 20px;
        }


        &:hover,
        &:focus {
            background-color: getColor(Sky-dark);
        }

        &:disabled,
        &.disabled {
            background-color: #86d5f9;
        }


    }
}