/* 
    Set default global styles for heading elements:
    h1, h2, h3, h4, h5, h6
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    color: getColor(Neutral-dark-5);
    margin-bottom: 20px;
}

h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -2px;

    @include ss {
        font-size: 34px;
        line-height: 1.06;
        letter-spacing: -1px;
        margin-bottom: 10px;
    }
}

h2 {
    font-size: 40px;
    line-height: 1.05;
    letter-spacing: -1px;

    @include xs{
        font-size: 30px;
        line-height: 1.07;
        letter-spacing: -0.5px;
    }
}

h3 {
    font-size: 34px;
    line-height: 1.06;
    letter-spacing: -0.5px;
    margin-bottom: 10px;

    @include xs{
        font-size: 28px;
        line-height: 1.14;
    }
}

.title-1 {
    display: block;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;

    @include xs{
        font-size: 24px;
        line-height: 1.17;
    }
}

.title-2 {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #303236;
    margin-bottom: 10px;
}

.title-3 {
    display: block;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #494a50;
    margin-bottom: 0;
    line-height: 1.5;
}


.section-heading {
    max-width: 920px;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;

    h2 {
        text-align: center;

        @include xs{
            margin-bottom: 10px;
        }
    }

    p {
        font-size: 20px !important;

        @include xs{
            font-size: 18px!important;
        }
    }

    @include md {
        width: 100%;
    }

    @include xs{
        margin-bottom: 40px;
    }

    &.lead{
        margin-bottom: 80px;

        @include xs{
            margin-bottom: 60px;
        }
    }
}