/* 
    Set default global styles for inputs elements:
    e.g. select, input[type="text"], input[type="email"], input[type="number"]
*/
form {
    position: relative;

    .form-group {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        small {
            display: block;
            height: 17px;
            font-size: 14px;
            margin-bottom: 8px;
            color: #4f4c4d;
        }

        input {
            height: 48px;
            width: 348px;
            padding: 10px 16px;
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: normal;
            color: #4f4c4d;
            border: solid 1px #d1d1d1;
            outline: none;

            &:focus,
            &:active {
                color: #4f4c4d;
            }

            ::placeholder {
                color: #98a0ac;
            }

            @include xs {
                width: 315px;
            }

            &.error {

                border-color: #d0021b;

                &::placeholder {
                    color: #d0021b;
                }
            }
        }

    
    }
}