/* 
    Set default global styles for: 
    Navigation <nav></nav>
*/

.navigation {
    background-color: getColor(Darker);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;

    .branding {
        margin-top: 27px;
        margin-bottom: 23px;
        margin-left: 30px;
        width: 184px;
        height: 30px;

        img {
            width: 184px;
            height: 30px;
        }

        @include ss {
            width: 121.2px;
            height: 19.7px;
            margin-top: 16px;
            margin-bottom: 12.3px;
            margin-left: 15px;

            img {
                width: 121.2px;
                height: 19.7px;
            }
        }
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .nav-list {
            margin-left: 30px;
            display: flex;
            align-items: center;

            ul {
                display: flex;

                li {
                    list-style: none;

                    a {
                        color: getColor(Light);
                        font-size: 18px;
                    }

                    &:not(:last-child) {
                        margin-right: 30px;
                    }
                }
            }

            @include md {
                display: none;
            }

        }

        .nav-cta {
            display: flex;
            align-items: center;
            margin-right: 20px;

            .login {
                color: getColor(Light);
                margin-right: 10px;
                width: 70px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1.13;
                font-size: 18px;

                @include ss{
                    margin-right: 0;
                    width: 72px;
                }
            }

            @include ss {
                margin: 0;

                #login {
                    font-size: 16px;
                    margin-right: 0;
                    width: 72px;
                }

                .button {
                    font-size: 16px;
                    padding: 15px 14px;
                }
            }

            @include md {
                margin-right: 30px;
            }

            @include ss {
                margin-right: 0;
            }

        }

        @include md {
            justify-content: flex-end;
        }
    }

    @include ss {
        height: 48px;

    }

    &.nav-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;

        background-color: getColor(Light);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
        transition: 0.3s;

        .main-nav {
            .nav-list {
                ul {
                    li {
                        a {
                            color: #37393e;
                        }
                    }
                }
            }

            .nav-cta {
                .login {
                    color: #37393e;
                    margin-right: 20px;

                    @include ss {
                        widows: 64px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}